
<mat-card class="mat-card mat-focus-indicator">
  <img [src]='product.featured_image' [alt]="product.name">
  <mat-card-title>
    {{ product.name }}
  </mat-card-title>
  <mat-card-content >
    <div *ngFor="let star of [1, 2, 3, 4, 5]"  class="stars">
      <mat-icon role="img">
        <ng-container *ngIf="product.rating_stars >= star">
          star
        </ng-container>
        <ng-container *ngIf="(star - product.rating_stars) == 0.5">
          star_half
        </ng-container>
        <ng-container *ngIf="(star - product.rating_stars) > 0.5">
          star_border
        </ng-container>
      </mat-icon>
    </div>
    <div class="container-value">
      <p>
        {{ product.value | currency: "BRL"}}
      </p>
    </div>
    <div class="installment" *ngIf="product.installment_available">
      <p>
        {{product.installment_count}}X
        {{((product.value) / product.installment_count ) | currency: "BRL"}}
      </p>
    </div>
  </mat-card-content>
</mat-card>
