.breadcrumbs {
  padding-top: 8px;
  margin-left: 16px;
  color: #777;
}
.swiper-container {
  height: 270px;
  max-width: 230px;
  .swiper-slide {
    img {
      max-width: 100%;
    }
  }
}

mat-icon {
  background-repeat: no-repeat;
  fill: currentColor;
  display: inline-block;
  color: #9acd32;
  font-size: 25px;
  height: 12px;
  width: 20px;
  position: relative;
}

button {
  background-color: #5f23c0;
  border: none;
  height: 3.2rem;
  width: 100%;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-bottom: 10px;
}
