* {
  padding: 0;
  margin: 0;
}

$medias-tablet: 778px;
$desktop: 1024px;

mat-sidenav-content {
  min-height: 100vh;
}

mat-sidenav {
  width: 280px;
}

mat-toolbar {
  min-height: 48px;
  background-color: #5c4dbd;
}

.button-menu button {
  background: none;
  color: aliceblue;
  border-style: none;
  cursor: pointer;
  &:hover {
    border-style: groove;
  }
}

.button-close button {
  background: none;
  color: black;
  border-style: none;
  left: 220px;
  position: relative;
  cursor: pointer;

  &:hover {
    border-style: groove;
  }

  mat-icon {
    font-size: 0.9rem;
  }
}

.title span {
  font-size: 2.3rem;
  color: aliceblue;
  position: relative;
  left: 30px;
}

.menu button {
  width: 100%;
  padding: 16px;
  line-height: 36px;
  cursor: pointer;
  background: transparent;
  border: none;
  overflow: visible;
  border-radius: 4px;
  box-sizing: border-box;
  &:hover {
    background: #eae9ee;
  }
}
