<div class="container banner-container">
  <div class="grid">
      <div class="row">
          <div class="col-12">
              <img src="https://petshop-sp.ue.r.appspot.com/static/images/banner-1.png" alt="Medicamentos com descontos">
          </div>
          <app-categories-featured></app-categories-featured>
      </div>
  </div>
  <section class="container grid" *ngIf="product">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of product">
            <!-- Aqui chamamos o componente app-product-item -->
            <app-product-item [product]="product">
            </app-product-item>
        </div>
    </div>
  </section>

  <section>
    <app-footer></app-footer>
  </section>
</div>
